{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}


	<div class="container mt-5">
		<h1>Welcome to our blog</h1>
		{# <div class="d-flex"> #}
		{{form_start(form)}}
		<div class="row justify-content-start">
			<div class="col-4 pt-3">{{form_row(form.search)}}</div>
			<div class="col-4">{{form_row(form.category)}}</div>
			<div class="col-4 pt-3">{{form_row(form.Search)}}</div>

		</div>
		{{form_end(form)}}

		<span>
			Order by :
		</span>

		<div class="sortItem">
			<span {% if articles.isSorted('a.Title') %} class="sorted" {% endif %}>
				{{ knp_pagination_sortable(articles, 'Title', 'a.title') }}
			</span>
		</div>
		<div class="sortItem">
			<span {% if articles.isSorted(['a.publicationDate']) %} class="sorted" {% endif %}>
				{{ knp_pagination_sortable(articles, 'Release', ['a.publicationDate']) }}
			</span>
		</div>
		<div class="sortItem">
			<span {% if articles.isSorted(['au.lastName']) %} class="sorted" {% endif %}>
				{{ knp_pagination_sortable(articles, 'Author', ['au.lastName']) }}
			</span>
		</div>

		{% for article in articles %}
			{% include 'include/article_card.html.twig' %}
		{% endfor %}
		{% if articles %}
			<div class="navigation">
				{{ knp_pagination_render(articles) }}
			</div>
		{% endif %}

	</div>
{% endblock %}
