{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .search { width: 100%;}
    .pagination-margin{ padding-top: 2%;}
    img{ width: 50%; }
</style>

<div class="example-wrapper">
    <h1>Wellcomme to our blog</h1>
<div class="d-flex">
  <div class="p-2"><button> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
</svg> 
</button></div>
  <div class="p-2"><input class="form-control mr-sm-2 search" type="search" placeholder="Search" aria-label="Search"></div>
</div>

{% for article in articles %}
<div class="card" style="margin-top: 2%">
  <div class="card-header">
   {{ article.title }} 
   <div class="d-flex">
  <div class="p-2"><h5 class="card-title">{{ article.author.firstName }} </h5></div>
  <div class="p-2"><p class="card-title">{{ article.publicationDate|date("d/m/Y H:i:s", "Europe/Paris") }} </p></div>
  <div class="mr-auto p-2">{{ article.category.name }}</div>
</div> 
  </div>
  
  <div class="card-body">
  
    <p class="card-text">{{ article.content }}</p>

    <img src="{{ asset('/images/about.jpg') }}"  alt="imageAbout">
    <i>
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-share-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg> </i>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>

  
</div>
{% endfor %}
<nav aria-label="..." class="pagination-margin">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item active">
    <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
    <li class="page-item ">
      <a class="page-link" href="#">2 </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

</div>
{% endblock %}
