

{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="d-flex">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="sortItem">
    				<span{% if comments.isSorted('a.Title') %} class="sorted"{% endif %}>
    				  {{ knp_pagination_sortable(comments, 'Article title', 'a.title') }}
    				</span>
    </div>
    <div class="sortItem">
    				<span{% if comments.isSorted('c.approved') %} class="sorted"{% endif %}>
    				  {{ knp_pagination_sortable(comments, 'Status', 'c.approved') }}
    				</span>
    </div>
    <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Article</th>
    <th scope="col">Status</th>
    <th scope="col"></th>
    </tr>
  </thead>
  
  <tbody>
    {% for comment in comments %}
<tr>
  <td>
      {{ comment.id }}
  </td>
  <td>{{ comment.author.email }}</td>
  <td>{{ comment.article.title}}</td>
  <td>{% if comment.approved is same as(true) %} Approved {% endif %} {% if comment.approved is same as (false) %} Refused {% endif %} {% if comment.approved is same as (null) %} Waiting {% endif %}</td>
 
   
 <td><a href="{{ path('editComment', {'idComment': comment.id}) }}"><button class="btn btn-info" type="button">View/Approve</button></a></td>
    
  
</tr>
    {% endfor %}
    </tbody>
</table>
{% if comments %}
    <div class="navigation">
        {{ knp_pagination_render(comments) }}
    </div>
{% endif %}
    
</div>
{% endblock %}
