{% extends 'base.html.twig' %}

{% block title %}Backoffice - Comments
{% endblock %}
{% block body %}

<div class="row">
	<div class="col-2 shadow-lg p-3 mb-5 ml-5 mt-5 bg-white rounded menuSearch">
		<div class="d-flex">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
		<div class="sortItem mb-2">
			<span {% if comments.isSorted('a.Title') %} class="sorted" {% endif %}>
				{{ knp_pagination_sortable(comments, 'Article', 'a.title') }}
			</span>
		</div>
		<div class="sortItem mb-2">
			<span {% if comments.isSorted('c.approved') %} class="sorted" {% endif %}>
				{{ knp_pagination_sortable(comments, 'Status', 'c.approved') }}
			</span>
		</div>
		<div class="sortItem mb-2">
			<span {% if comments.isSorted('au.email') %} class="sorted" {% endif %}>
				{{ knp_pagination_sortable(comments, 'Author\'s email', 'au.email') }}
    				</span>
    </div>
    </div>

  <div class="container mt-5">

  <div class="col s10">
  <h1 class="mb-4">Backoffice - Comments</h1>

    <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Article</th>
    <th scope="col">Status</th>
    <th scope="col"></th>
    </tr>
  </thead>
  
  <tbody>
    {% for comment in comments %}
<tr>
  <td>
      {{ comment.id }}
  </td>
  <td>{{ comment.author.email }}</td>
  <td>{{ comment.article.title}}</td>
  <td>{% if comment.approved is same as(true) %} Approved {% endif %} {% if comment.approved is same as (false) %} Refused {% endif %} {% if comment.approved is same as (null) %} Waiting {% endif %}</td>
 
   
 <td><a href="{{ path('editComment', {'idComment': comment.id}) }}"><button class="btn btn-info" type="button">View/Approve</button></a></td>
    
  
</tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% if comments %}
    <div class="navigation">
        {{ knp_pagination_render(comments) }}
    </div>
{% endif %}
</div>
{% endblock %}
