{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   
      <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  
  <tbody>
    {% for tag in listTag %}
<tr>
  <td>
      {{ tag.id }}
  </td>
      <td>{{ tag.name }}</td>
   
    <td><a href="{{ path('editTag', {'idTag': tag.id}) }}"><button class="btn btn-info" type="button">Edit</button></a> <a href="{{ path('deleteTag', {'idTag': tag.id}) }}"><button class="btn btn-danger" type="button">Delete</button></a></td>
    
  
</tr>
    {% endfor %}
    </tbody>
</table>
    
     <a href="{{ path('addTag') }}"><button class="btn btn-primary" type="button">Add Tag</button></a> 
</div>
{% endblock %}
