{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.subtitle) }}
        {% if image %}
        <img style="max-width: 400px" class="articleImage" src="{{ asset('uploads/images/' ~ image) }}" alt="article picture">
        {% endif %}
        {{ form_row(form.image) }}
        {{ form_row(form.content) }}
        {{ form_row(form.publicationDate) }}
        {{ form_row(form.category) }}
        {{ form_row(form.tag) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('deleteArticle', {'idArticle': article.id}) }}"><button class="btn btn-danger" type="button">Remove</button></a>
        {% endif %}
    </div>
{% endblock %}
