{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    Made by : {{ article.author.email }}<br>
    Date : {{ stringDate }}
    <h2>{{ article.title }}</h2>
    <h3>{{ article.subtitle }}</h3>
    <img style="max-width: 400px" class="articleImage" src="{{ asset('uploads/images/' ~ article.image) }}" alt="article picture">
    <p>{{ article.content }}</p>
    <span>Category : {{ article.category.name }}</span><br>
    <span>Likes : {{ nbLikes }}</span>
    <span>Shares : {{ nbShares }}</span>
    {% if app.user %}
        <div>
            {% if liked == false %}
                <a href="{{ path('likeArticle', {'idArticle': article.id, 'liked': 'true'}) }}"><button class="btn btn-outline btn-success">Like</button></a>
            {% endif %}
            {% if liked == true %}
                <a href="{{ path('likeArticle', {'idArticle': article.id, 'liked': 'false'}) }}"><button class="btn btn-outline btn-danger">Unlike</button></a>
            {% endif %}
            {% if shared == false %}
                <a href="{{ path('shareArticle', {'idArticle': article.id}) }}"><button class="btn btn-outline btn-success">Share</button></a>
            {% endif %}
            {% if shared == true %}
                <span>Shared</span>
            {% endif %}
        </div>
        <div>

            <span>Send a comment :</span><br>
            <label for="lastName">lastName</label>
            <input name="lastName" type="text" disabled value="{{ comment.author.lastName }}">
            <label for="email">email</label>
            <input name="email" type="text" disabled value="{{ comment.author.email }}">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    {% endif %}

    <ul>
    {% for comment in commentList %}
        {% if comment.approved == true %}
            <li> {{ comment.author.email }} - {{ comment.content }}</li>
        {% endif %}
        {% if app.user %}
            {% if comment.approved == null and app.user.email == comment.author.email %}
                <li>{{ comment.content|length > 10 ? comment.content|slice(0, 10) ~ '...' : comment.content}} - Your comment is awaiting verification</li>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
    <div>
        <h3>Articles récents</h3>
        {% for recentArticle in recentArticles %}
            <div>
                {{ recentArticle.title }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
